{% extends 'layouts/base.html' %}
{% block content %}
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

<h1>Bienvenido</h1>
<!-- <h1>{{ titulo }}</h1> -->
<style>
    /* Center the h1 element */
    h1 {
      text-align: center;
      font-size: 120px;
      animation: colorChange 5s infinite; /* Change colors every 5 seconds */
    }

    /* Define the color change animation */
    @keyframes colorChange {
      0% { color: #3498db; } /* Start with blue */
      25% { color: #e74c3c; } /* Change to red after 25% of the animation */
      50% { color: #2ecc71; } /* Change to green after 50% of the animation */
      75% { color: #f39c12; } /* Change to orange after 75% of the animation */
      100% { color: #3498db; } /* Back to blue at the end */
    }
  </style>
{% endblock %}