{% block content %}
<div class="product-edit">
    <h1>Modificando el Producto de Protección</h1>
    
    <form method="post" class="edit-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit-button">Guardar cambios</button>
        <a href="{% url 'productos_Proteccion' %}" class="btn">Volver</a>
    </form>
</div>

<style>
    .product-edit {
        display: flex;
        max-width: 600px; 
        margin: 0 auto; 
        padding: 20px; 
        border: 1px solid #ccc; 
        border-radius: 5px; 
        background-color: #f9f9f9; 
    }

    .back-link {
        text-decoration: none;
        color: #007bff; 
    }

    .submit-button {
        background-color: #007bff;
        color: #fff; 
        border: none; 
        padding: 10px 20px; 
        border-radius: 5px; 
        cursor: pointer; 
    }

    .submit-button:hover {
        background-color: #0056b3; 
    }

    .btn{
        display: inline-block;
        padding: 10px 20px;
        margin-top: 20px;
        text-align: center;
        text-decoration: none;
        background-color: #198a1e; 
        color: #fff;
        border-radius: 5px;
    }
    .btn:hover{
        background-color: #0056b3;
    }
</style>
{% endblock %}